<footer class="p-3" [ngStyle]="{'background-color': '#A52A2A'}">
    <div class="container-fluid">
        <div class="row justify-content-center text-light">
            <div class="col-auto">
                <div class="row justify-content-center">
                    <div class="col-1 fa-2x m-1">
                        <a href="#"><fa-icon [ngStyle]="{'color': '#ffffff'}" [icon]="['fab', 'facebook']"></fa-icon></a>
                    </div>
                    <div class="col-1 fa-2x m-1">
                        <a href="#" [ngStyle]="{'color': '#ffffff'}" class="link-light"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
                    </div>
                    <div class="col-1 fa-2x m-1">
                        <a href="#" [ngStyle]="{'color': '#ffffff'}" class="link-light"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
                    </div>
                    <div class="col-1 fa-2x m-1">
                        <a href="#" [ngStyle]="{'color': '#ffffff'}" class="link-light"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center text-light">
            LIRA CARCAIXENTINA CARCAIXENT (Valencia) 
        </div>
    </div>
</footer>