<h1 class="text-center p-5 ">{{ 'login.acceso.texto' | translate }}</h1>
<main class="form-signin p-4 mx-auto" [ngStyle]="{'width': '500px'}">
    <form method="post">
        <div class="text-center">
            
    </div>
      <div class="form-floating p-4">
        <input
        type="email" 
        [(ngModel)]="email"
        name="email"
        class="form-control" 
        placeholder="{{ 'login.email.texto' | translate }}"
        required="required">
      </div>
      <div class="form-floating p-4">
        <input 
        type="password" 
        [(ngModel)]="password" 
        name="password"
        class="form-control" 
        placeholder="{{ 'login.contrasena.texto' | translate }}"
        required="required">
      </div>
      <div class="form-floating p-4">
      <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login()">{{ 'login.acceso.texto' | translate }}</button>
    </div>
    </form>
  </main>