<h1 class="text-center p-5 ">Acceso</h1>
<main class="form-signin p-4 mx-auto" [ngStyle]="{'width': '500px'}">
    <form>
        <div class="text-center">
            
    </div>
      <div class="form-floating p-4">
        <input type="text" class="form-control" id="floatingInput" placeholder="Usuario">
      </div>
      <div class="form-floating p-4">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseño">
      </div>
      <div class="form-floating p-4">
      <button class="w-100 btn btn-lg btn-primary" type="submit">Acceso</button>
    </div>
    </form>
  </main>