<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <div class="collapse navbar-collapse" [(ngbCollapse)]="isMenuCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['home']" class="nav-link">{{ 'menu.inicio.texto' | translate }}</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['escuela']" class="nav-link" >{{ 'menu.escuela.texto' | translate }}</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['bandas']"  class="nav-link">{{ 'menu.bandas.texto' | translate }}</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['eventos']" class="nav-link">{{ 'menu.eventos.texto' | translate }}</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['contacto']"  class="nav-link">{{ 'menu.contacto.texto' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>